// variables
$gallery-height: 800px;
$gallery-width: 890px;
$thumb-height: 150px;

// overrides

.entry #gallery img {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

#gallery {

    height: $gallery-height;
    width: $gallery-width;
    border: 1px solid black;

    .big-pic {
        height: $gallery-height - $thumb-height;
        width: $gallery-width;
        background-color: black;
        text-align: center;
        img {
            max-height: $gallery-height - $thumb-height;
            max-width: $gallery-width;
            }
        }

    .slider {
        position: relative;
        overflow: auto;
        border-top: 1px solid black;
        width: auto;
        height: $thumb-height + 10px;
        white-space: nowrap;
        background-color: white;

        .go {
            width: 25px;
            background-color: black;
            position: absolute;
            height: $thumb-height + 10px;
        }

        .go-left {
            left:0;
            margin-right:3px;
            cursor: w-resize;
        }

        .go-right {
            right:0;
            margin-left:3px;
            cursor: e-resize;
        }

        img {
            max-height: $thumb-height;
            border: solid 3px white;
            margin: 3px 1px;
            &.selected-image {
                border-color: black;
                }
            }
        }
    }
